[Unit]
Description=Celery Beat Service Daemon
After=network.target

[Service]
Type=simple
User=celery
Group=celery
WorkingDirectory=/home/ubuntu/gunicorn-project
EnvironmentFile=/etc/conf.d/celery.conf
ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} beat  \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}' \
    --scheduler django_celery_beat.schedulers:DatabaseScheduler
Restart=always

[Install]
WantedBy=multi-user.target