[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/gunicorn-project/
Restart=always
EnvironmentFile=/home/ubuntu/gunicorn-project/.env
ExecStart=/home/ubuntu/.local/bin/gunicorn-start.sh

[Install]
WantedBy=multi-user.target