[Unit]
Description=gunicorn socket

[Socket]
SocketUser=www-data
SocketGroup=www-data
ListenStream=/run/gunicorn/gunicorn.sock

[Install]
WantedBy=sockets.target
