
server {

    server_name $NGINX_SERVER_NAMES;

    location /html/ {
        root /var/www/;
    }

    location /static/ {
        root /home/ubuntu/gunicorn-project/;
    }

    location /media/ {
        root /home/ubuntu/gunicorn-project/;
    }

    location = /favicon.ico { access_log off; log_not_found off; }

    location / {
        include proxy_params;
        proxy_read_timeout $NGINX_PROXY_READ_TIMEOUT;
        proxy_connect_timeout 75s;
        proxy_pass http://unix:/run/gunicorn/gunicorn.sock;
    }

    client_max_body_size 100M;

}

